{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-react",
      {
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment"
      }
    ],
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}