{
  "presets": [
    [
      "@babel/preset-react",
      {
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment"
      }
    ],
  //   ["@babel/preset-env", {
  //     "targets": {
  //         "browsers": ["last 2 versions"]
  //     }
  // }],
  ]
}